apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://mimir:9009/prometheus
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Mimir

  - name: CloudWatch
    type: cloudwatch
    uid: cloudwatch
    access: proxy
    editable: true
    jsonData:
      authType: default
      defaultRegion: eu-west-1

  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    editable: true

  - name: Copilot API
    type: marcusolsson-json-datasource
    uid: copilot
    access: proxy
    url: http://copilot-api:8080
    editable: true
